ul {
    list-style-type: none;
    padding: 0;
}

.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

    /* Container */
    max-width: 1156px;
    padding: 16px;
    margin: 0 auto;

    img {
        display: block;
        min-width: 360px;
        height: 200px;
        object-fit: cover;
    }

    img:hover {
        transform: scale(1.05);
    }
}

.modal {
    img {
        max-height: 640px;
    }
}